<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <input type="text" th:field="*{firstName}">

    <!-- * so you dont have to give full object.fieldName (student.lastName) -->
    Last name: <input type="text" th:field="*{lastName}">

    <br><br>

    <select th:field="*{country}">
        <!-- hard coded option -->
        <!-- <option name="country" id="br" th:value="Brazil">Brazil</option> -->
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
    </select>

    <br><br>

    Favorite Programming Language:
    <!-- hard coded option -->
    <!-- <input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python-->

    <input type="radio"
           th:field="*{favoriteLanguage}"
           th:each="lang : ${languages}"
           th:value="${lang}"
           th:text="${lang}"
    />

    <br><br>
    Favorite Operating Systems:
    <input type="checkbox" th:field="*{favoriteSystems}" th:each="sys : ${systems}" th:value="${sys}" th:text="${sys}">

    <br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>